.clear {
    background-image: url(https://pixabay.com/get/55e5dd4b4c53a414f6d1867dda3536781538d9ed5752754e_1920.jpg);
}

.clouds {
    background-image: url(https://pixabay.com/get/54e2d1424f54ac14f6d1867dda3536781538d9ed5751774e_1920.jpg);
}

.rain {
    background-image: url(https://pixabay.com/get/5ee4d347424fad00f5d89960c62e37791237dae75056_1920.jpg);
}

.snow {
    background-image: url(https://www.whitby-photography.com/wp-content/uploads/2018/03/Whitby-In-The-Snow-Snowing-At-Whitby-17-of-122.jpg);
}

body {
    text-align: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);


    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3em;
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    display: none;
}